.about {

  &__wrap {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: var(--spacing-600);
    
    padding: 64px 0 61px 0;

    @media (min-width: 768px) {
      grid-template-columns: 283px 1fr;
      column-gap: 72px;
      align-items: center;
      padding: 88px 0 95px 0;
    }

    @media (min-width: 1280px) {
      grid-template-columns: 564px 1fr;
      column-gap: 131px;
      padding: 52px 0 86px 0;
      align-items: flex-end;

      &::after {
        content: "";
        position: absolute;
        right: 27px;
        top: 0;
        height: 200px;
        width: 85px;
        background-image: url("/assets/images/pattern-curved-line-left.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &__image {
    position: relative;
    margin-left: -24px;
    margin-right: -24px;

    @media (min-width: 600px) {
      margin-left: -40px;
      margin-right: -40px;
    }

    @media (min-width: 768px) {
      height: 411px;
      margin-left: 0;
      margin-right: 0;
    }

    @media (min-width: 1280px) {
      height: 533px;
    }

    &-container {
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        min-height: 100%;
      }

      @media (min-width: 768px) {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 435px;
      }

      @media (min-width: 1280px) {
        position: static;
        width: 100%;
      }
    }
  }

  &__content {
    @media (min-width: 1280px) {
      padding-bottom: 38px;
    }
  }

  &__title {
    margin-bottom: var(--spacing-400);
  }
}
