:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey-300: #ACC1DE;
  --color-grey-500: #5E6E85;
  --color-blue-100: #E1E7FE;
  --color-blue-300: #B3D3F1;
  --color-blue-500: #345FF6;
  --color-blue-900: #253347;
  --color-font: #133041;

  --spacing-0: 0px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-700: 56px;
  --spacing-900: 72px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1300: 104px;
  --spacing-1600: 128px;
  --spacing-1800: 144px;
}

