*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html {
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1;
  min-height: 100vh;
  -webkit-tap-highlight-color: transparent;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
button {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  background: none;
  cursor: pointer;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

:focus {
  outline: none;
}

section,
article,
header,
footer,
nav,
aside {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey-300: #ACC1DE;
  --color-grey-500: #5E6E85;
  --color-blue-100: #E1E7FE;
  --color-blue-300: #B3D3F1;
  --color-blue-500: #345FF6;
  --color-blue-900: #253347;
  --color-font: #133041;
  --spacing-0: 0px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-700: 56px;
  --spacing-900: 72px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1300: 104px;
  --spacing-1600: 128px;
  --spacing-1800: 144px;
}

.intro {
  position: relative;
  padding: 32px 0 61px 0;
}
@media (min-width: 600px) {
  .intro {
    padding: 32px 0 19px 0;
  }
}
@media (min-width: 991px) {
  .intro {
    padding: 88px 0 85px 0;
  }
}
.intro:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  max-height: 640px;
  width: 100vw;
  background: linear-gradient(90deg, rgba(214, 252, 254, 0) 0%, #d6e6fe 100%);
  border-radius: 0 0 35px 35px;
}
@media (min-width: 991px) {
  .intro:after {
    max-height: 737px;
    width: 69vw;
  }
}
.intro__logo {
  width: 40px;
  height: 40px;
  margin: 0 auto var(--spacing-400) auto;
}
@media (min-width: 600px) {
  .intro__logo {
    margin: 0 auto var(--spacing-500) auto;
  }
}
@media (min-width: 991px) {
  .intro__logo {
    width: 64px;
    height: 64px;
    margin: 0 0 var(--spacing-300) 0;
  }
}
.intro__logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.intro__wrap {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--spacing-400);
}
@media (min-width: 600px) {
  .intro__wrap {
    row-gap: var(--spacing-500);
  }
}
@media (min-width: 991px) {
  .intro__wrap {
    column-gap: var(--spacing-400);
    grid-template-columns: repeat(2, 1fr);
  }
}
.intro__content {
  text-align: center;
}
@media (min-width: 991px) {
  .intro__content {
    text-align: start;
    padding-top: var(--spacing-900);
  }
}
.intro__text {
  margin-top: var(--spacing-300);
}
@media (min-width: 991px) {
  .intro__text {
    margin-top: var(--spacing-400);
    max-width: 85%;
  }
}

.calculator {
  border-radius: 16px;
  padding: 32px;
  box-shadow: 16px 32px 56px 0 rgba(143, 174, 207, 0.25);
  background: var(--color-white);
}
.calculator__messure {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--spacing-300);
  padding: 0;
  border: none;
  margin-top: var(--spacing-400);
}
.calculator__messure-custom {
  position: relative;
  display: block;
  width: 31px;
  height: 31px;
  border: 1px solid var(--color-grey-500);
  border-radius: 50%;
  cursor: pointer;
}
.calculator__messure-custom::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  height: 15px;
  width: 15px;
  transform: translate(-50%, -50%);
  background-color: var(--color-blue-500);
  border-radius: 50%;
  opacity: 0;
}
.calculator__messure-label {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-200);
  cursor: pointer;
}
.calculator__messure-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.calculator__messure-input:checked ~ .calculator__messure-custom {
  background-color: var(--color-blue-100);
  border: none;
}
.calculator__messure-input:checked ~ .calculator__messure-custom::before {
  opacity: 1;
}

.about__wrap {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--spacing-600);
  padding: 64px 0 61px 0;
}
@media (min-width: 768px) {
  .about__wrap {
    grid-template-columns: 283px 1fr;
    column-gap: 72px;
    align-items: center;
    padding: 88px 0 95px 0;
  }
}
@media (min-width: 1280px) {
  .about__wrap {
    grid-template-columns: 564px 1fr;
    column-gap: 131px;
    padding: 52px 0 86px 0;
    align-items: flex-end;
  }
  .about__wrap::after {
    content: "";
    position: absolute;
    right: 27px;
    top: 0;
    height: 200px;
    width: 85px;
    background-image: url("/assets/images/pattern-curved-line-left.svg");
  }
}
.about__image {
  position: relative;
  margin-left: -24px;
  margin-right: -24px;
}
@media (min-width: 600px) {
  .about__image {
    margin-left: -40px;
    margin-right: -40px;
  }
}
@media (min-width: 768px) {
  .about__image {
    height: 411px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1280px) {
  .about__image {
    height: 533px;
  }
}
.about__image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
@media (min-width: 768px) {
  .about__image-container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 435px;
  }
}
@media (min-width: 1280px) {
  .about__image-container {
    position: static;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .about__content {
    padding-bottom: 38px;
  }
}
.about__title {
  margin-bottom: var(--spacing-400);
}

.main {
  display: flex;
  flex-direction: column;
  color: var(--color-font);
  height: 100%;
  background-color: var(--color-white);
}

.container {
  margin: 0 auto;
  max-width: 1270px;
  padding: 0 24px;
}
@media (min-width: 600px) {
  .container {
    padding: 0 40px;
  }
}
@media (min-width: 991px) {
  .container {
    padding: 0 55px;
  }
}

.text-preset-1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.05em;
}
@media (min-width: 991px) {
  .text-preset-1 {
    font-size: 64px;
  }
}

.text-preset-2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.05em;
}
@media (min-width: 991px) {
  .text-preset-2 {
    font-size: 48px;
  }
}

.text-preset-3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.05em;
}

.text-preset-4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.21;
  letter-spacing: -0.05em;
}

.text-preset-5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.05em;
}

.text-preset-6-semibold {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.text-preset-6-regular {
  font-size: 16px;
  line-height: 1.5;
}

.text-preset-7-bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
}

.text-preset-7-regular {
  font-size: 14px;
  line-height: 1.5;
}

/*# sourceMappingURL=main.css.map */
